.DS_Store
logs
project/target
project/project/target
target
.target
tmp
.history
dist
.classpath
*.eml
*.iml
.idea
.idea_modules
bin
build
.project
.gradle
out
.cache
*~
*.swp
chromedriver.log
RUNNING_PID
.settings/
.scala_dependencies
*.sublime-workspace
screenshots/
